/* Import Fonts */
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Montserrat:wght@400;700&display=swap');
/* General Styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  color: #ffffff;
  background: #748461;
 
}
img {
  max-width: 100%;
  height: auto;
}
/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  color: rgb(207, 147, 27);
}
.navbar-logo-card {
  border: 0px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  max-width: 200px;
  text-align: center;
}
.navbar-logo {
  width: 100%;
  height: 100%;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 5rem;
}

.navbar-links li a {
  text-decoration: none;
  font-size: 3rem;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
  color: rgb(207, 147, 27);
}

.navbar-cta {
  background: #20631b;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  color: rgb(207, 147, 27);
  text-decoration: none;
  font-size: 1.5rem;
  text-shadow: 2px 2px 8px rgba(2, 2, 2, 0.7);
}

/* Menu Icon */
.menu-icon {
  display: none;
  font-size: 2rem;
  color: rgb(255, 255, 255);
  background: none;
  border: none;
  padding: 0rem;
}

.menu-icon:focus,
.menu-icon:active {
  outline: none; /* Removes the box on focus */
  box-shadow: none; /* Removes any default browser shadow */
  -webkit-tap-highlight-color: transparent; /* Removes touch highlight color on mobile */
}

/* Animation for sliding down the menu */
@keyframes slideDown {
  from {
    max-height: 0;
    opacity: 0;
  }
  to {
    max-height: 300px; /* Adjust based on the content height */
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    max-height: 300px; /* Match the height from slideDown */
    opacity: 1;
  }
  to {
    max-height: 0;
    opacity: 0;
  }
}

/* Mobile Navbar Links */
.navbar-links-mobile {
  display: none;
  flex-direction: column;
  padding: 0rem;
  text-align: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  overflow: hidden; /* Ensure the animation appears smooth */
  max-height: 0; /* Initial state for animation */
  
}


.navbar-links-mobile.open {
  display: flex;
  animation: slideDown 0.3s forwards;
}

.navbar-links-mobile.closing {
  display: flex;
  animation: slideUp 0.3s forwards;
}

.navbar-links-mobile ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-links-mobile ul li {
  margin: 1rem 0;
}

.navbar-links-mobile ul li a {
  color: rgb(207, 147, 27);
  text-decoration: none;
  font-size: 2rem;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
}


/* Hero Section */
.hero-section {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(205, 147, 30);
  text-align:center;
  text-decoration: solid;
  background: url("./assets/hero.jpg") no-repeat center center/cover ;
  position: relative;
}
.hero-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
  backdrop-filter: blur(5px); /* Apply blur effect */
  z-index: 1;
}

.hero-content {
  position: relative;
  z-index: 2;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
}

.hero-content h1 {
  font-family: 'Great Vibes', cursive; /* Replace with the name of the stylish font */
  font-size: 10rem;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7); /* Adjust shadow intensity */
  margin-bottom: 1rem;
}

.hero-content p {
  font-family: 'Montserrat', sans-serif; /* Simpler font for subtext */
  font-size: 3rem;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
}

/* About Section */
.about-section {
  padding: 3rem 2rem;
  text-align: center;
  
}

.about-section h2 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.about-section p {
  font-size: 1.5rem;
}

/* Projects Section */
.projects-section {
  padding: 3rem 2rem;
  text-align: center;
}

.projects-section h2{
  font-size: 3rem;
}
.projects-grid {
  display: flex;
  gap: 2rem;
  justify-content: center;
  flex-wrap: wrap;
}

.project-card {
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
}

.project-card img {
  width: 100%;
  height: 80%;
}

.project-card h3 {
  font-size: 2rem;
  margin: 1rem 0;
}

.project-card p {
  font-size: 1.5rem;
  padding: 0 1rem 1rem;
}

/* Contact Section */
.contact-section {
  text-align: center;
}

.contact-section h2 {
  margin-bottom: 1rem;
}

.contact-section form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
  margin: 0 auto;
}

.contact-section input,
.contact-section textarea {
  width: 40%;
  padding: 0.8rem;
  margin: 1rem;
  
  border: 1px solid #000000;
  border-radius: 5px;
}

.contact-section button {
  width: 20%;
  background: #20631b;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  color: rgb(207, 147, 27);
  text-decoration: none;
  font-size: 1.5rem;
  text-shadow: 2px 2px 8px rgba(2, 2, 2, 0.7);
}

/* Footer */
footer {
  padding: 1rem 2rem;
  text-align: center;
 
  color: white;
}

/* Persistent WhatsApp Button */
.whatsapp-button {
  position: fixed;
  bottom: 40px; /* Adjust the position from the bottom */
  right: 40px; /* Adjust the position from the right */
  z-index: 1000; /* Ensure it appears above other elements */
  border-radius: 50%;
  width: 100px; /* Size of the button */
  height: 100px;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  overflow: hidden;
}

.whatsapp-button img {
  width : 100%; /* WhatsApp icon size */
  height: 100%;
}

.whatsapp-button:hover {
  transform: scale(1.1); /* Slightly enlarge on hover */
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.3);
}

.whatsapp-button:active {
  transform: scale(0.9); /* Slightly shrink on click */
}


/* Mobile-Specific Styles */
@media (max-width: 768px) {
  /* Hide navbar links and call-to-action */
  .navbar-links,
  .navbar-cta {
    display: none;
  }
  .menu-icon {
    display: block; /* Show menu icon only on mobile */
  }
  
  
  
  /* Adjust logo padding */
  .navbar-logo-card {
    margin: 0 auto; /* Center the logo on mobile */
  }
  .hero-section {
    height: 40vh;
  }
  /* Adjust hero section text size */
  .hero-content h1 {
    font-size: 3.5rem; /* Smaller size for mobile */
  }

  .hero-content p {
    font-size: 1.25rem; /* Adjust paragraph size */
  }
  .contact-section input,
  .contact-section textarea {
    width: 80%;
  }
  .contact-section button {
    width: 40%;
  }

  /* Reduce padding for sections */
  .projects-section,
  .contact-section {
    padding: 1rem;
  }

  .about-section {
    padding: 0.75rem;
  }

  .about-section h2 {
    font-size: 2rem;
    margin-bottom: 0;
  }
  .about-section p {
    font-size: 1rem;
  }
  .projects-section h2{
    font-size: 2rem;
  }
  .project-card img {
    height: 65%;
  }
  .project-card h3 {
    font-size: 1.5rem;
  }
  .project-card p {
    font-size: 1rem;
  }
  .whatsapp-button {
    bottom: 25px;
    right: 25px;
    height: 65px;
    width: 65px;
  }
}
/* 
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
*/
